@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
  font-family: 'roboto', sans-serif;
  font-size: 15px;
  background-color:#CAC4B0;
  color: #0f141e;
}

a {
  /* color: #011818; */
  /* color: #053a3a; */
  color: #00003e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #0c8b8b;
}
/* a:visited { 
  color: #053a3a;
}
*/

.container {
  max-width: 750px;
  margin: auto;
  margin-top: 50px;
  /* padding: 25px; */
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba (0, 0, 0, 0.25);
    margin-bottom: 15px;
}

.info {
  /* width: 40%; */
  /* display: block; */
  display: flex;
}

.info-text {
  margin-left: 60px;
  margin-top: 23px;
  color: #86898f;
  font-weight: bold;
}

.info-text p {
  font-style: italic;
}

@media (max-width: 582px) {
  .info {
    display: block;
    text-align: center;
  }
}

.card {
  padding: 27px;
  margin: 30px; 
  opacity: 0.9;
}

h1 {
    color: #053a3a;
}
h4 {
  padding-top: 1px;
}

.name {
    font-style: italic;
    text-decoration: underline;
    font-family: 'roboto serif', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    color: #00001f;
}

.hobby {
    background: #d3caac;
    border-radius: 15px;
}

 .work {
    padding: 18px;
    background-color: #d6c4a1;
 }

 .contact {
  background: #d3caac;
  border-radius: 15px;
}

  .btn {
    font-size: 14px;
  }

  .btn-2 {
    padding: 5px 15px;
    color: beige;
    font-size: 13px;
    background: #053a3a;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-family: inherit;
    display: block;
    margin-top: 10px;
  }

 .btn-2:hover {
    opacity: .8;
    color: violet;
 } 

  .list {
    padding: 0;
    margin: 0px;
    list-style: none;
  }

  .list li {
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
  }

  .table {
    width: 100%;
  }

  .table td {
    text-align: justify;
    padding-bottom: 10px;
  }

 .table tr {
    margin-bottom: 90px;
 }

 .table td:hover {
    background: #dfc6c6;
 }

 /* .table tr:nth-child(odd) {
    background: rgb(233, 227, 219);
 } */

 .table td:nth-child(2),
 .table td:nth-child(3) {
    color: #868988;
 }

 .form h2 {
  text-align: center;
 }

 .form-row {
margin-bottom: 10px;
 }
 
 .form-row .form-group {
  margin-right: 20px;
  width: 45%;
 display: inline-block;
   /* width: calc (50% -20px); */ 
 }
  
 .form-row, .form-group:last-child {
  margin-right: o;
 } 
 
 @media (max-with: 582px) {
  .form-row {
    display: block;
  }
  .form-row .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;

  }
 }

 .form-group label {
  display: block;
  font-size: 14px;
 }

 .form-group input,
 .form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 7px 0 3px;
  outline: none;
  font-family: inherit;
 }